body{
    background-color: #dadada;
}

.Homepage_navigation {
    border-bottom: 2px solid white;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: black;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    color: white;
}

.Navbar_search {
    border: 1px solid black;
    margin-left: 30px;
    width: 50%;
    font-size: medium;
    padding: 15px;
    border-radius: 25px;
    background-color: aliceblue;
    font-family: 'Montserrat';
    margin-top: 10px;
    text-align: center;
}

.Homepage_maincontent {
    margin-top: 100px;
}

.Homepage_loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: spin 1s linear infinite;
}

.arrange {
    position: inherit;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
}

.Maincontent_image {
    position: inherit;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1050px){
    .arrange{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 770px){
    .arrange{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 450px){
    .arrange{
        grid-template-columns: auto;
    }

    .Navbar_search {
        margin-left: 0;
    }

    .Homepage_navigation {
        text-align: center;
    }
}